* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Customizing Header */
header {
  width: 100%;
  height: 95vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("img/banner1.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/* Customizing NavBar with the display flex */
nav {
  width: 100%;
  height: 80px;
  background: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
  position: fixed;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* Customizing Logo */
.logo {
  font-family: sans-serif;
  font-size: 2.5em;
}
.logo span {
  color: red;
}

/* Customizing Menu in the NavBar */
.menu a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  font-family: sans-serif;
  font-size: 20px;
}
.menu a:first-child {
  color: red;
}
.menu a:hover {
  color: red;
}

.icon a {
  text-decoration: none;
  background: red;
  color: white;
  padding: 10px 20px;
  margin-left: 30px;
  border-radius: 5px;
  transition: ease 0.3s;
}
.icon a:hover {
  text-decoration: none;
  background: white;
  color: red;
  padding: 10px 20px;
  margin-left: 30px;
  border-radius: 5px;
}

/* Customizing the section part */
.h-text {
  color: white;
  max-width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.h-text h1 {
  font-family: sans-serif;
  font-size: 3em;
  line-height: 1.5em;
}
.h-text input {
  width: 60%;
  padding: 10px;
  margin: 30px 0;
  border: none;
  outline: none;
  font-size: 20px;
  border-radius: 8px;
}
.h-text button {
  width: 15%;
  padding: 10px 10px;
  font-size: 20px;
  background: red;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 20px;
}
.h-text button:hover {
  cursor: pointer;
  text-decoration: none;
  background: white;
  color: red;
  border-radius: 5px;
  transition: ease 0.3s;
}

/* section for navigation of the image */
.filter-gallery {
  padding: 100px;
}

.portfolio-menu {
  text-align: center;
  margin-bottom: 20px;
}
.portfolio-menu ul li {
  list-style: none;
  display: inline-block;
  margin: 20px 0px;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.4s ease;
  text-align: center;
}
.portfolio-menu ul li:hover {
  color: white;
  background: red;
  border-radius: 5px;
}
li.active {
  color: white;
  background: red;
  border-radius: 5px;
}

.portfolio-item {
  width: 100%;
  margin-left: 90px;
}
.portfolio-item .item {
  width: 360px;
  height: 360px;
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
}
.portfolio-item .item img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.member {
  width: 100%;
  padding: 20px 100px;
  font-family: sans-serif;
}
.member-info {
  text-align: center;
}
.member-info h1 {
  font-size: 2.5em;
}
.member-info h1 span {
  color: red;
}

.member-card {
  text-align: center;
  padding-top: 50px;
  width: 50%;
  margin: auto;
}
.member-card p {
  margin: 20px 0px;
  line-height: 2em;
}
.member-card h2 {
  margin: 20px 0px;
}

.m-images {
  width: 100%;
  display: flex;
  margin: 20px 20px;
  overflow: hidden;
}
.m-images img {
  width: 210px;
  height: 210px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.hello img:hover{
  cursor: pointer;
  border:1px solid rgb(243, 238, 238);
  border-radius: 100px;
}

.m-images img:hover {
  transform: scale(1.3);
}

footer {
  width: 100%;
  background: #262626;
  padding: 50px 100px;
}
.news-letter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
}
.news-letter > div {
  flex-basis: 50%;
}
.ntext {
  text-align: right;
}
.news-letter h2 {
  font-size: 2em;
  font-family: sans-serif;
}
.news-letter p {
  font-size: 15px;
  margin: 10px 0;
}
.news-letter label {
  position: relative;
}
.news-letter input {
  padding: 20px;
  width: 70%;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: sans-serif;
}
.news-letter button {
  position: absolute;
  right: 0;
  padding: 20px;
  width: 30%;
  background: red;
  color: white;
  border: none;
  outline: none;
  border-radius: 0 5px 5px 0;
}
.news-letter button:hover {
  color: red;
  background: white;
  transition: 0.4s ease;
  cursor: pointer;
}

.f-contact {
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.f-contact > div {
  flex-basis: 20%;
}
.f-contact p {
  line-height: 2em;
  font-size: 20px;
  color: grey;
  cursor: pointer;
}
.f-contact p:hover {
  color: white;
}
